<%- include include/header %>
<link rel="stylesheet" href="../../assets/css/register.css">

<div class="container">

  <% if(locals.errors) { %>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-danger"><%= error.msg %></div>
    <% }); %>
  <% } %>
  <!-- <%- messages() %> -->


  <form method="post" action="/users/register" class="form-signin">
    <h2 class="form-signin-heading">הרשמה</h2>
    <label for="email" class="sr-only">שם מלא</label>
    <input type="text" value="<%= (!!locals.name)?name:'' %>" id="name" name="name" class="form-control" placeholder="שם מלא" autofocus>
    <label for="email" class="sr-only">כתובת מייל</label>
    <input type="email" value="<%= (!!locals.email)?email:'' %>" id="email" name="email" class="form-control" placeholder="כתובת מייל">
    <label for="password" class="sr-only">סיסמה</label>
    <input type="password" value="<%= (!!locals.password)?password:'' %>" id="password" name="password" class="form-control" placeholder="סיסמה">
    <label for="password2" class="sr-only">אימות סיסמה</label>
    <input type="password" value="<%= (!!locals.password2)?password2:'' %>" id="password2" name="password2" class="form-control" placeholder="סיסמה לאימות">
    <button class="btn btn-lg btn-primary btn-block" type="submit">התחבר</button>
    <br>
    <p>קיים משתמש? <a href="/users/login">התחבר</a> </p>
  </form>

</div>
<!-- /container -->

<%- include include/footer %>
